@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin: 1.5rem 0 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  margin: 0 5rem;
}
.navbar {
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.logo {
  height: 3rem;
}
.link-div {
  position: absolute;
  right: 5rem;
}

a {
  text-decoration: none;
  color: black;
}
.link {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.header {
  background-image: url("header.svg");
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

ul {
  list-style: none;
}
.li {
  text-align: center;
  margin: 0.8rem 0;
  padding: 0.5rem 0;
  transition-property: transform;
  transition-duration: 0.4s;
}

.fiver {
  height: 4rem;
}

a[class="social-white"],
a:link[class="social-white"],
a:visited[class="social-white"] a:active[class="social-white"] {
  text-decoration: none;
}

.li:hover {
  transform: scale(1.3);
}

.social-links {
  position: fixed;
  left: 1rem;
  top: 50%;
  z-index: 99;
}
.social-white {
  color: white;
}

.heading-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.header-large {
  font-weight: 800;
  font-size: 7rem;
  color: white;
  animation-name: bouncetext;
  animation-duration: 2s;
}

@keyframes bouncetext {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.header-small {
  font-weight: 200;
  font-size: 3.1rem;
  color: white;
  text-align: left;
  position: absolute;
  display: inline-block;
  /* position: absolute;
top: 54%;
left: 42%;
transform: translate(-50%); */
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.flex-container > div {
  flex-basis: 26%;
}
.container {
  text-align: center;
  padding: 0 5rem;
  margin-bottom: 2rem;
  transition-property: transform;
  transition-duration: 1s;
}
.container:hover {
  transform: scale(1.2);
}

.icon {
  margin-bottom: 2rem;
}

.h2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 3rem 0;
}
.h3 {
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.5rem;
}
.p {
  font-size: 1.5rem;
  text-align: justify;
}

.mobile-links-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.flex-container2 > div {
  flex-basis: 45%;
}
.avatar {
  height: 20rem;
  border-radius: 0.5rem;
}
.container-about {
  display: flex;
  flex-wrap: wrap;
  background-color: #fdfaf6;
  flex-direction: row;
  justify-content: center;
  transition-property: transform;
  transition-duration: 1s;
  padding: 2rem 0;
}

.container-about > div {
  flex-basis: 45%;
}

.about-img {
  align-self: center;
  margin-bottom: 2rem;
}

.container-about:hover {
  transform: scale(1.2);
}

.bounce-text {
  animation: bouncetext 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slide-text {
  animation: slidetext 1s;
  animation-fill-mode: backwards;
}
@keyframes slidetext {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

.contact {
  background-color: #3b3838;
  text-align: center;
  position: relative;
}

.h2-white {
  color: white;
  text-align: center;
  padding-top: 4rem;
}

input {
  border: solid #707070 0.1rem;
  background-color: #3b3838;
  color: white;
  margin: 1.5rem 0;
  padding: 1rem;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
}
input::placeholder {
  color: white;
  font-weight: 300;
}

textarea {
  border: solid #707070 0.1rem;
  background-color: #3b3838;
  margin: 1.5rem 0;
  color: white;
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
  height: 15rem;
}
textarea::placeholder {
  color: white;
  font-weight: 300;
}
button {
  border: solid white 0.4rem;
  background-color: #3b3838;
  padding: 1rem;
  margin: 1.5rem 0;
  width: 30rem;
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
  color: white;
  cursor: pointer;

  background: linear-gradient(to left, #3b3838 50%, white 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

button:hover {
  border: solid white 0.4rem;
  color: black;
  background-position: left;
}

footer {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #3b3838;
  font-weight: 500;
}

.contact-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.contact-form {
  flex-basis: 38%;
  text-align: left;
}

.fa-check-circle {
  color: rgb(22, 175, 22);
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
  text-align: center;
  padding-top: 40%;
}

.mobile-menu.mobile-menu-show {
  display: block;
}

.mobile-links {
  font-size: 2rem;
  display: block;
  margin: 5rem 0;
}

.mobile-menu-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.about-text {
  text-align: justify;
}

.popup-window-fail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.popup-window-success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.btn {
  display: block;
}

.popup-window-fail.show-popup {
  display: block;
  animation: popup-fadein 0.5s;
  animation-fill-mode: forwards;
}

.popup-window-success.show-popup {
  display: block;
  animation: popup-fadein 0.5s;
  animation-fill-mode: forwards;
}

@keyframes popup-fadein {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.error-header {
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
  display: block;
  color: rgb(255, 45, 45);
}

.error-subheader {
  font-size: 2rem;
  display: block;
}

.error-text {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem 3rem;
}

.popup-close {
  margin: 2.5rem;
  padding: 1rem 7rem;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.popup-close:hover {
  background-color: white;
  color: black;
}

.success-header {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mail-sending {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
.mail-sending.show-sending {
  display: block;
}

.mail-sending-header {
  color: white;
  font-size: 2rem;
}
.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.portfolio-container {
  flex-basis: 30%;
  text-align: center;
  background-color: #fdfaf6;
  padding: 3rem;
}

.portfolio-header {
  font-size: 3rem;
}

.portfolio-img {
  height: 30rem;
  position: relative;
  margin-top: 2rem;
  background-image: url(./petshelter-header.svg);
  transition-property: all;
  background-size: cover;
  transition-duration: 1s;
}

.portfolio-description {
  position: absolute;
  display: none;
  color: white;
  font-size: 2rem;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-description.show-desc {
  display: block;
  animation: showText 1s;
}

@keyframes showText {
  from {
    transform: translate(-50%, 80%);
  }
  to {
    transform: translateX(-50%, 0)
  }
}

.portfolio-img:hover {
  background-image: linear-gradient(
      to right bottom,
      rgba(71, 33, 133, 0.329),
      rgba(35, 107, 83, 0.8)
    ),
    url(./petshelter-header.svg);
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .main-container {
    margin: 0;
  }

  .h3 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .about-text {
    flex-basis: 100%;
    text-align: justify;
  }
  .flex-container2 > div {
    flex-basis: 100%;
  }

  .about-img {
    text-align: center;
  }

  button {
    width: 100%;
  }
  .contact-form {
    flex-basis: 100%;
    margin: 0 3rem;
  }

  .container-about > div {
    flex: 0 0 100%;
  }
  .link-div {
    display: none;
  }
  h2 {
    text-align: center;
  }
  .mobile-menu-icon {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    margin: 1rem;
    z-index: 99;
  }

  .social-links {
    display: none;
  }

  .navbar {
    display: none;
  }
  body {
    margin: 0;
  }
  .header {
    background-image: url("header-mobile.svg");
  }

  .popup-window-fail {
    width: 100%;
  }
  .popup-window-success {
    width: 100%;
  }

  .header-large {
    font-size: 6rem;
  }

  .social-links-mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .li {
    margin: 1rem;
    display: block;
  }

  .container-about {
    padding: 3rem;
  }

  .container-about {
    transition-property: none;
  }
  .container-about:hover {
    transform: none;
  }
  .container {
    transition-property: none;
  }
  .container:hover {
    transform: none;
  }

  .portfolio-container {
    flex-basis: 100%;
    text-align: center;
    margin: 2rem;
  }
  .portfolio-img {
    background-image: linear-gradient(
        to right bottom,
        rgba(71, 33, 133, 0.329),
        rgba(35, 107, 83, 0.8)
      ),
      url(./petshelter-header.svg);
    transition-property: none;
  }

  .portfolio-img:hover {
    transform: none;
  }

  .portfolio-description {
    display: block;
  }

  .portfolio-description.show-desc {
    animation: none;
  }
}
